<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31302359042-sdfu3bvgo3n0e1onshkge8hsicilj35e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31302359042-sdfu3bvgo3n0e1onshkge8hsicilj35e</string>
	<key>API_KEY</key>
	<string>AIzaSyB3U94Mp2CO-i1_AkQKDFbJPuGO1GvGBA4</string>
	<key>GCM_SENDER_ID</key>
	<string>31302359042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolist-7adc7</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-7adc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31302359042:ios:f94ae689f0487fe9332f1b</string>
</dict>
</plist>